body{
    box-sizing: border-box;
    background-color: skyblue;
    margin: 0;
}

hr {
    position: fixed;
    
    width: 100%;
    z-index: 1;
  }
p{
    margin:0;
    padding:0;
}
.header{
    font-weight: bold;
    color:  black;
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 10px 30px;
    padding: 10px;
    font-size: 20px;
}

.category{
color: darkred;
text-transform: uppercase;
}


.image{
    width: 50%;
    height: 600px;
    background-color: white;
    margin: 20px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
  max-height: 100%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.letters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 50%;
    height: 600px;
    background-color: lightslategray;
    align-content: center;
    padding: 0 30px 0 30px;
} 


.main{
    display: flex;
    margin: 20px;
    background-color: black;
    justify-content: center;
   
}

.letters span{
    width: 65px;
    font-family: sans-serif;
    height: 65px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 15px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: lightseagreen;
    color: black;
    cursor: pointer;
    border: solid 2px white;
    text-transform: uppercase;

}


.solution{
    display: flex;bottom: 0;
    left: 0;
    justify-content: center;
    height: 100px;

}
.letter{
    background-color: aliceblue;
    border-bottom: solid 5px black;
    width: 70px;
    height: 80px;
    line-height:70px ;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
}

.right{
    background-color: goldenrod !important;
    width: 65px;
    font-family: sans-serif;
    height: 65px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 15px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border: solid 2px white;
    text-transform: uppercase;
}

.wrong{
    background-color: darkred !important;
    width: 65px;
    font-family: sans-serif;
    height: 65px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 15px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border: solid 2px white;
    text-transform: uppercase;
}


.solution .hide{
display: none;
}

.solution .found{
    display: inline-block;
    text-transform: uppercase;
}

.repeat{
    background-color: darkred;
    width: 100px;
    border:solid 3px white;
    height: 50px;
   margin-left: 90%;
   font-size: 20px;
   line-height: 50px;
   text-align: center;
   color: white;
   font-family: sans-serif;
   border-radius: 8px;
   cursor: pointer;
}


.pop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid lightslategrey;
    padding: 150px;
    width: 1200px;
    height: 500px;
    font-size: 90px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
   
}

.pop span{
    margin-top: 10px;
    display: block;
}

.pop button{
    cursor: pointer;
    background-color: darkred;
    border-radius: 8px;
    border: white solid 3px;
    width: 200px;
    height: 100px;
    font-size: 50px;
    color: white;
    margin-bottom: 100px;
}


.pop{
    display: none;
}

.done{
    display: block !important;
}



@media (max-width: 900px) {
    .header{
        width: 200%;
    }
    .image {
      width: 10000%;
      height: auto;
    }
  
    .header {
      margin: 0;
    }
  
    .main {
      width: 190% !important;
      margin: 20px 0 20px 30px !important;
      padding: 0;
      overflow-x: auto;
      white-space: nowrap;
    }
    
    .letter{

        width: 20% !important;
        height: 50px !important;
        margin-left: 10px !important;
        line-height: 50px !important;
        font-size: 20px !important;
       
    }
    .solution{
        margin-left: 50% !important;
        width: 80% !important;
    }


  }

  
@media (max-width: 1400px) {
  
.repeat{
    background-color: darkred;
    width: 100px;
    border:solid 3px white;
    height: 50px;
   margin-left: 80%;
   font-size: 20px;
   line-height: 50px;
   text-align: center;
   color: white;
   font-family: sans-serif;
   border-radius: 8px;
   cursor: pointer;
}
.pop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid lightslategrey;
    padding: 15%;
    width: 60%;
    height: 50%;
    font-size: 300%;
    font-weight: bold;
    color: black;
    border-radius: 1%;
    z-index: 9999;
    text-align: center;
   
}

.pop span{
    margin-top: 10px;
    display: block;
}
    .image{
        width: 100%;
        height: 600px;
        background-color: white;
        margin: 20px;
        position: relative;
    }
    
    .image img{
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        object-position: center;
    }

    .letters{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;
        width: 100%;
        height: 615px;
        background-color: lightslategray;
        align-content: center;
        padding: 0 3px 0 3px;
    } 
    
    .main{
        width: 90%;
        height: 500%;
        flex-wrap: wrap;
        margin-left: 40px;
        margin-top: 50px;
    }

    .letter{
        background-color: aliceblue;
        border-bottom: solid 2px black;
        width: 20px;
        height: 30px;
        line-height:20px ;
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        margin-left: 5px;
    }

    .letters span{
        width: 35px;
        font-family: sans-serif;
        height: 35px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        margin-bottom: 15px;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        background-color: lightseagreen;
        color: black;
        cursor: pointer;
        border: solid 2px white;
        text-transform: uppercase;
        
        }
    }
    



@media (min-width:950px) and (max-width:1400px){

    .letters span{
        width: 50px !important;
        height: 50px !important;
        line-height: 50px;
        font-size: 30px;
    }
    .pop{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 2px solid lightslategrey;
        padding: 15%;
        width: 70%;
        height: 50%;
        font-size: 9%;
        font-weight: bold;
        color: black;
        border-radius: 1%;
        z-index: 9999;
        text-align: center;
       
    }
    

}